<div>
  {{ if and .IsPage (eq .Params.toc true) }}
    <div class="section">
      <header><h3><b>Inhaltsverzeichnis</b></h3></header>
      {{ .TableOfContents }}
    </div>
    {{ end }}

    <div class="section">
      <header><h3><b>{{ i18n "latestposts" }}</b></h3></header>
      <div class="content">
        <ul>
        {{ range first 10 (where .Site.Pages "Type" "news") }}
          <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
        </ul>
      </div>
    </div>
    <hr />
    {{ range $key, $value := .Site.Taxonomies }}
      {{ $len := len $value }}
      {{ if (not ( eq $len 0 ) ) }}
      <div class="section taxonomies">
        <header><h3><b>{{ i18n "tags" }}</b></h3></header>

        <div class="content">
            {{ range first 10 $value.ByCount }}<a href="{{$.LanguagePrefix }}/{{ $key }}/{{ .Name | urlize }}"><button type="button" class="btn btn-default">{{ .Name }}</button></a>{{ end }}
        </div>
      </div>
      {{ end }}
    {{ end }}
    <hr />
    <div class="sidebar">
        <div class="row">
            <a class="iconlink" href="https://github.com/mediathekview/MediathekView" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
            <a class="iconlink" href="https://twitter.com/Mediathek_View" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a class="iconlink" href="https://fb.me/mediathekview" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
            <a class="iconlink" href="https://chirpi.de/@mediathekview" target="_blank"><i class="icon-chirpi" aria-hidden="true"></i></a>
        </div>
        <hr />
        <div class="row text-center">
          <div class="col-xs-12 text-center">
            <div class="center-block" style="display:inline-block;">
              <a href="https://www.paypal.me/MediathekView" target="_blank">
                <img src="{{ .Site.Params.baseurl }}/images/paypal_spenden.png" class="img-responsive" style="display:inline-block; vertical-align:middle;">
              </a>
              <a href="https://ko-fi.com/F1F01BQ3ZX" target="_blank">
                <img height="43" style="border:0; height:43px; display:inline-block; vertical-align:middle;" class="img-responsive" src="{{ .Site.Params.baseurl }}/images/support_me_on_kofi_badge_dark.png" alt="Kauf uns einen Kaffee auf ko-fi.com">
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <a href="{{ .Site.Params.baseurl }}/spenden/"><button class="center-block btn btn-info">Weitere Spendenmöglichkeiten</button></a>
          </div>
        </div>
    </div>
</div>
