
<footer class="footer hidden-print">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           {{ partial "bloc/footer/nav" . }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              {{ partial "bloc/footer/credits" . }}
              <div class="container footline">
                <small>Hosting unterstützt durch <a href="https://servercow.de/">servercow.de</a></small>
              </div>
              <noscript><p><img src="https://analyse.elaon.de/piwik.php?idsite=4&rec=1" style="border:0;" alt="" /></p></noscript>
        </div>
    </div>
  </div>
</footer>
