<!--<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>-->

{{ .Scratch.Add "js" (slice (resources.Get "js/jquery.min.js"))}}
{{ .Scratch.Add "js" (slice (resources.Get "js/bootstrap.min.js"))}}

{{ $js := .Scratch.Get "js" | resources.Concat "js/bundle.js" | resources.Minify| resources.Fingerprint "sha512" }}
<script src="{{$js.Permalink}}" integrity="{{ $js.Data.Integrity }}"></script>

<script type="text/javascript">
$(function(){
    $("table").addClass("table table-condensed table-bordered table-striped");
});
</script>

{{ if .Params.galerie }}
<!-- Glisse Vollbildgallerie laden -->
<!--<script src="{{ "js/galerie/" | absURL }}glisse.js"></script>-->
{{ $jsglisse :=  resources.Get "js/galerie/glisse.js" | resources.Minify| resources.Fingerprint "sha512" }}
<script src="{{ $jsglisse.Permalink }}" integrity="{{ $jsglisse.Data.Integrity }}"></script>
<script type="text/javascript">
$(function () {
    $('.pics').glisse({
        changeSpeed: 550,
        speed: 500,
        effect: 'bounce',
        fullscreen: false,
        mobile: true,
        bootstrap: true,
        bootstrapl18nNext: "Nächstes",
        bootstrapl18nPrevious: "Vorheriges",
        bootstrapl18nClose: "Schließen"
    });
});
</script>
<!-- Ende Glisse Vollbildgallerie laden -->
{{ end }}

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  // tracker methods like "setCustomDimension" should be called before "trackPageView"
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analyse.elaon.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

<!-- Zurück zum Anfang Icon ein und ausblenden -->
<script type="text/javascript">
function setdefaults()
{
  $("#return-to-top").css("opacity",0);
}

$(document).ready(function(){
   setdefaults();

  $(window).scroll(function() {

      $scrolled = $(window).scrollTop();
      $toScrollPercentage = 50;
      $toScroll = $(window).height()*($toScrollPercentage/100);
        if($scrolled < $toScroll)
        {
          $("#return-to-top").css("opacity",0);
        } else
        {
          $("#return-to-top").css("opacity",0.5);
        }
    });
});
</script>
<!-- Ende Zurück zum Anfang Icon ein und ausblenden -->

<!-- Start Structured Data für Suchmaschinen -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "url": "https://mediathekview.de",
  "name": "MediathekView",
  "applicationCategory": "Multimedia",
  "applicationSubCategory": "Internet-Radio & TV",
  "countriesSupported": "DE,AT,CH",
  "downloadUrl": "https://mediathekview.de/download/",
  "softwareVersion": "13.1.1",
  "description": "Das Programm MediathekView durchsucht die Online-Mediatheken verschiedener Sender (ARD, ZDF, Arte, 3Sat, SWR, BR, MDR, NDR, WDR, HR, RBB, ORF, SRF) und listet die gefundenen Sendungen auf. Die Liste kann mit verschiedenen Filtern nach Beiträgen durchsucht werden. Mit einem Programm deiner Wahl können die Filme angesehen und aufgezeichnet werden. Es lassen sich Abos anlegen und neue Beiträge automatisch herunterladen.",
  "operatingSystem": "Windows, Linux und Mac OS-X",
  "publisher": {
    "@type": "Organization",
    "name": "MediathekView",
    "logo": {
      "@type": "ImageObject",
      "url": "https://mediathekview.de/images/MediathekView.svg",
      "encodingFormat": "image/svg+xml"
    }
  }
}
</script>
<!-- Ende Structured Data für Suchmaschinen -->
