<footer>
  {{ if .IsPage }}
  {{ if or ( .Params.next_image ) ( .Params.previous_image ) }}
    <nav><ul class="pager">
    {{ if .Params.previous_image }}
        <li class="previous">
          <a href="{{ .Params.previous_image }}" title="{{ .Params.previous_image }}">
            <span aria-hidden="true">&larr;</span>{{ i18n "previous" }}
          </a>
        </li>
    {{end}}

    {{ if .Params.next_image }}
      <li class="next">
        <a href="{{ .Params.next_image }}" title="{{ .Params.next_image }}">
            {{ i18n "next" }} <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    {{end}}
    </ul> </nav>
  {{ end }}
{{ end }}
</footer>
