<div class="content galerie">
{{ .Content }}
<!--   <ul> -->
<!--     <li><img src="../images/screenshots/screenshot1.jpg" alt="Filme" class="pics" rel="group1" title="Filme Screen"></li> -->
<!--     <li><img src="http://localhost:1313/images/screenshots/screenshot2.jpg" alt="Downloads" class="pics" rel="group1" title="Downloads Screen"></li> -->
<!--     <li><img src="http://localhost:1313/images/screenshots/screenshot3.jpg" alt="Abos" class="pics" rel="group1" title="Abos Screen"></li> -->
<!--  </ul> -->

</div>